* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

form {
  position: relative;
  width: 225px;
  margin: auto;
  text-align: center; }
  form label,
  form input {
    display: block;
    width: 182px;
    margin: auto; }
  form label {
    margin-top: 5px; }
  form input {
    padding: 3px 3px;
    border: 1px solid #aaa;
    border-radius: 5px; }

.hidden {
  display: none !important; }

.top-margin-20px {
  margin-top: 20px; }

.light-btn {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

#login-main {
  margin-top: 40px;
  width: 100%;
  max-width: 1200px; }
  #login-main h1 {
    text-align: center; }

#store-session-checkbox {
  position: absolute;
  left: 20px;
  margin-top: 12px;
  width: 15px;
  color: #aaa; }

label[for="remember-login"] {
  position: absolute;
  left: 40px;
  margin-top: 8px;
  width: 140px;
  text-align: left; }

#after-auth-main {
  width: 100%; }
  #after-auth-main button {
    margin: 5px 5px; }

#top-options-bar {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  #top-options-bar span {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px; }

#habit-form-overlay {
  height: calc(100vh - 38px);
  display: flex;
  justify-content: center;
  align-items: center; }

#habit-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.habit-card {
  position: relative;
  width: calc(50% - 10px);
  min-width: 150px;
  margin: 2.5px;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px #777; }
  .habit-card .description {
    font-weight: bold; }
  .habit-card .active {
    color: green; }
  .habit-card .passive {
    color: red; }

.logged {
  box-shadow: 0px 0px #777; }
  .logged-active {
    background: #85f085; }
  .logged-passive {
    background: #db6c6c;
    color: white; }

.delete-habit-btn {
  position: absolute;
  top: 0;
  right: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #a81818;
  font-size: 12px; }

#auth-error {
  text-align: center;
  font-weight: bold;
  font-style: italic; }
