@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

// Main styling
* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: bold;
  background: steelblue;
  height: 100vh;
}

// need to add some kind of media query if the contents of the page are bigger than the display
#footer {
  font-size: 12px;
  font-weight: normal;
  color: #eee;
  position: absolute;
  top: calc(100vh - 23px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  span {
    margin-right: 5px;
  }

  a {
    color: #eee;
  }

  #footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .footer-link-separator {
      display: inline;
      margin: 2px 5px 0 0;
      font-size: 3px;
      border-radius: 50%;
      background: #ccc;
    }

    a {
      text-decoration: none;
    }
  }
}

// Utilities
.hidden {
  display: none !important;
}

.light-btn {
  background: #fff;
  padding: 10px;
  margin-left: 5px;
  margin-bottom: -2px;
  border: 1px solid #888;
  border-radius: 5px;
  font-weight: bold;
  color: #333;
}

// Containers & inner elements
#total-container {
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 20px);
  position: relative;
  padding-top: 20px;
}

#login-container,
#about-container,
#how-to-use-container,
#add-habit-container,
#stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: aliceblue;
  width: 300px;
  margin: auto;
  padding-bottom: 21.44px;
  border: 3px solid #fff;
  border-radius: 5px;

  #login-header {
    color: #f7be26;
    font-size: 45px;
    margin-bottom: -12px;
    text-shadow: -1px -1px 0 #666, 1px -1px 0 #666, -1px 1px 0 #666,
      1px 1px 0 #666;

    .header-icon {
      color: #f0b515;
    }
  }

  #error-msg-display {
    color: #333;
    margin: 0 0 10px;
  }
}

#login-container {
  width: 360px;
}

#about-container,
#how-to-use-container {
  font-weight: normal;

  p {
    width: 100%;
    font-size: 20px;
    padding: 5px;
  }

  p:first-of-type {
    margin-bottom: 0px;
  }
}

#new-habit-form {
  width: 100%;
  text-align: center;

  h3 {
    margin: 5px;
  }

  label {
    margin: 5px;
  }

  input[type="text"] {
    width: 120px;
    display: block;
    padding: 10px;
    margin: 5px auto;
    border-radius: 5px;
    border: 1px solid #777;
  }

  input[type="number"] {
    width: 50px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #777;
  }

  button {
    width: 65px;
    margin: auto;
  }
}

#login-signup-form {
  input[type="text"],
  input[type="password"] {
    display: block;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #777;
  }

  label[for="remember-login"] {
    font-size: 14px;
  }

  #login-btns-container {
    display: flex;
    justify-content: center;
    margin: 20px 0 5px;

    button:first-of-type {
      margin-right: 5px;
    }
  }
}

#user-options {
  display: flex;
  justify-content: space-between;
  margin: -15px 2.5px 0;

  button:first-of-type {
    margin-right: 5px;
  }
}

#habit-list {
  display: flex;
  flex-wrap: wrap;

  .habit-card:nth-child(even) {
    // margin-right: 3.5px;
    // padding-right: 0px;
  }

  .habit-card {
    position: relative;
    width: calc(50% - 12px);
    margin-top: 7.5px;
    margin-left: 7.5px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;

    p {
      margin: 0;
    }

    .passive {
      color: red;
    }

    .active {
      color: green;
    }

    .delete-habit-btn {
      cursor: pointer;
      position: absolute;
      width: 15px;
      height: 15px;
      top: 2px;
      right: 3px;
      font-weight: bolder;
      border-radius: 50%;
      background: #fc3636;
      color: #fff;
      font-size: 12px;

      .delete-btn-x {
        position: absolute;
        bottom: 1px;
        right: 4.25px;
      }
    }
  }

  .habit-logged-active {
    background: rgb(127, 245, 127);
  }

  .habit-logged-passive {
    background: rgb(255, 129, 129);
  }
}
