@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

$input-font-size: 17px;

// Main styling
* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: bold;
  background: steelblue;
  height: 100vh;
}

// need to add some kind of media query if the contents of the page are bigger than the display
#footer {
  font-size: 12px;
  font-weight: normal;
  color: #eee;
  height: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  span {
    margin-right: 5px;
  }

  a {
    color: #eee;
  }

  #footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .footer-link-separator {
      display: inline;
      margin: 2px 5px 0 0;
      font-size: 3px;
      border-radius: 50%;
      background: #ccc;
    }

    a {
      text-decoration: none;
    }
  }
}

// Utilities
.hidden {
  display: none !important;
}

.light-btn {
  background: #fff;
  padding: 10px;
  margin-left: 5px;
  margin-bottom: -2px;
  border: 1px solid #888;
  border-radius: 5px;
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

// Containers & inner elements
.inner-contents {
  padding-top: 20px;
  min-height: calc(100vh - 25px);
}

#total-container {
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  // padding-top: 20px;
}

#login-container,
#add-habit-container,
#stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: aliceblue;
  width: 300px;
  margin: auto;
  padding-bottom: 10px;
  border: 3px solid #fff;
  border-radius: 5px;

  #error-msg-display {
    color: #333;
    margin: 5px 0 5px;
  }
}

#login-header {
  color: #f7be26;
  font-size: 45px;
  margin-top: -5px;
  margin-bottom: -12px;
  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333,
    1px 1px 0 #333;
}

#HT-header {
  width: 287px;
  color: #f7be26;
  font-family: "RocknRoll One", sans-serif;
  font-size: 45px;
  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333,
    1px 1px 0 #333;
  top: 9px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  z-index: 1;
}

.header-icon {
  z-index: 0;
  position: absolute;
  left: 165px;
  right: 0;
  margin: auto;
  top: 22px;
  color: #f1dda5;
}

#login-container {
  width: 360px;
  padding-bottom: 27px;
  margin-top: 80px;
}

#about-container,
#how-to-use-container {
  font-weight: normal;
  color: #fff;

  p {
    margin: auto;
    width: 365px;
    font-size: 20px;
    padding: 5px 0;

    span {
      font-size: 18px;
    }

    button {
      cursor: pointer;
      margin: 0;
    }
  }

  p:first-of-type {
    margin-bottom: 0px;
  }

  h2 {
    margin: auto;
    width: 365px;
  }
}

#new-habit-form {
  width: 100%;
  text-align: center;

  h3 {
    margin: 5px;
    margin-bottom: 20px;
  }

  label {
    margin: 5px;
  }

  input[type="text"] {
    width: 200px;
    display: block;
    padding: 10px;
    margin: 5px auto 20px;
    border-radius: 5px;
    border: 1px solid #777;
    font-size: $input-font-size;
  }

  input[type="number"] {
    width: 50px;
    padding: 5px;
    margin: 5px 5px 20px;
    border-radius: 5px;
    border: 1px solid #777;
    font-size: $input-font-size;
    text-align: center;
  }

  button {
    width: 65px;
    margin: auto;
  }

  #update-style-input {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 42px;
  }

  #new-habit-goal {
    label {
      margin-bottom: 0;
    }
  }
}

#login-signup-form {
  input[type="text"],
  input[type="password"] {
    display: block;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #777;
    font-size: $input-font-size;
  }

  label[for="remember-login"] {
    font-size: 14px;
    color: #222;
  }

  #remember-me-container {
    margin-left: 2px;
  }

  #login-btns-container {
    display: flex;
    justify-content: center;
    margin: 20px 0 5px;

    button:first-of-type {
      margin-right: 5px;
    }
  }
}

#user-options {
  display: flex;
  justify-content: space-between;
  margin: -15px 2.5px 0;

  button:first-of-type {
    margin-right: 5px;
  }
}

#habit-list {
  display: flex;
  flex-wrap: wrap;

  .habit-card {
    position: relative;
    width: calc(50% - 12px);
    margin-top: 7.5px;
    margin-left: 7.5px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;

    p {
      margin: 0;
    }

    .passive {
      color: red;
    }

    .active {
      color: green;
    }

    .delete-habit-btn {
      .delete-btn-x {
        position: absolute;
        top: -2px;
        right: 5px;
        color: #555;
        font-size: 16px;
        font-family: "RocknRoll One", sans-serif;
      }
    }
  }

  .habit-logged-active {
    background: rgb(127, 245, 127);
  }

  .habit-logged-passive {
    background: rgb(255, 129, 129);
  }

  .habit-list-loading {
    width: 100%;
    color: #fff;
    text-align: center;
    padding-top: 50px;
  }
}
